@ant-prefix: ant;

.popover-wrapper-list {
    display: flex;
    flex: 1;
    align-items: center;

    .list-content {
        display: flex;
        flex: 1;
        align-items: center;
        width: 0;
        margin-top: 5px;
        cursor: pointer;

        &:hover {
            background-color: #e9f4fd;
        }
    }

    .checkbox {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        color: #fff;
        line-height: 36px;
        text-align: center;
        background-color: #1890ff;
        border-radius: 18px;
    }

    .title {
        position: relative;
        display: inline-block;
        max-width: 100%;
        padding-right: 13px;
        overflow: hidden;
        font-weight: 500;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .position {
            padding-left: 8px;
            color: #464f5c;
            font-size: 12px;
            font-weight: normal;
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: right;
        }
    }

    .user-close {
        position: absolute;
        right: 0;
        width: 10px;
        height: 10px;
        color: #f55445;
        visibility: hidden;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover {
        .user-close {
            visibility: visible;
            opacity: 1;
        }
    }

    .sub-title {
        overflow: hidden;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .content {
        margin-right: 12px;
        margin-left: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.@{ant-prefix}-list-item {
    padding: 4px 0;
}
