registry = "https://registry.npmjs.com/"
# 关闭 monorepo 链接到本地子包，本地调试可打开
link-workspace-packages = false
# 自动安装任何缺少的非可选对等依赖
auto-install-peers = true
# 读取或生成 pnpm-lock.yaml 文件
lockfile = true
# 忽略依赖树中存在缺失或无效的对等依赖关系时，命令执行失败报错
strict-peer-dependencies = false
# 忽略安装依赖到根项目的检查
ignore-workspace-root-check = true

# antd类型相关
public-hoist-pattern[] = rc-*
# 测试相关
public-hoist-pattern[] = @jest/**
public-hoist-pattern[] = @testing-library/dom
public-hoist-pattern[] = @umijs/**
public-hoist-pattern[] = umi
# ts类型矛盾：lodash-es 使用 @types/lodash 类型
public-hoist-pattern[] = @types/**
# lint校验
public-hoist-pattern[] = *eslint*
public-hoist-pattern[] = *prettier*
public-hoist-pattern[] = @babel/*
public-hoist-pattern[] = commitizen

