#header-container {
    li {
        margin: 10px 0;
        color: #333;
        list-style-type: none;
        cursor: pointer;
    }

    li:hover {
        text-decoration: underline;
    }

    li[data-type='1'] {
        font-weight: bold;
        font-size: 20px;
    }

    li[data-type='2'] {
        padding-left: 15px;
        font-weight: bold;
        font-size: 16px;
    }

    li[data-type='3'] {
        padding-left: 30px;
        font-size: 14px;
    }

    li[data-type='4'] {
        padding-left: 45px;
        font-size: 12px;
    }

    li[data-type='5'] {
        padding-left: 60px;
        font-size: 12px;
    }
}
