.ms-flow {
    display: flex;
    height: 500px;
    background: #fff;
    border: 1px solid #d9d9d9;
}

.ms-flow-layout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ms-flow-canvas-wrapper {
    position: relative;
    flex: 1;
    height: calc(100% - 40px);
}

.ms-flow-canvas-wrapper .preview {
    height: 100%;
}

.ms-flow-canvas {
    width: 100%;
    height: 100%;
}
