.form-item{
    position: relative;
    #username{
        padding: 10px 5px;
        width: 300px;
        box-sizing: border-box;
        transition: .4s ease;
        font-size: 18px;
        outline: none;
        border: none;
        border-bottom: 1px solid #ccc;
    }
    .line{
        display: block;
        // border-bottom: 1px solid #074ef2;
        width: 0px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        // background: #074ef2;
        transition: .4s ease;
    }
    label{
        position: absolute;
        bottom: 10px;
        left: 0;
        transition: .6s ease;
        color: #ccc;
    }
}
.form-item input:focus ~ .line{
    width: 100%;
}
.form-item input:valid ~ label,
.form-item input:focus ~ label{
    color: #000;
    transform: translateY(-30px);
    font-size: 16px;
}
