@ant-prefix: ant;

.ms-rich-editor {
    .w-e-max-length-info {
        color: #fff;
        z-index: 1;
        background-color: rgba(126, 126, 126, 0.49);
        padding: 0 6px;
        border-radius: 9px;
    }
}

.ms-rich-text.@{ant-prefix}-input-affix-wrapper {
    padding: 0;
    display: inline-block;

    &::before {
        display: none;
    }
}
