.user-avatar {
    .delete-button {
        display: none;
        background-color: #fff;
        border-radius: 50%;
    }

    &:hover {
        .delete-button {
            display: block;
        }
    }

    .user-avatar-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
