@ant-prefix: ant;

.ms-actions-menu-root {
    max-height: 200px;
    padding: 4px;
    overflow-y: auto;
    border-radius: 4px;
}

.ms-action-last-ellipsis {
    padding-right: 17px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ms-actions-ellipsis-btn {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 32px;
    padding: 0 8px;
    border: 1px solid #d9d9d9;
    border-left: 0;
    border-radius: 0 2px 2px 0;

    &:hover {
        background: #f7f8fa;
        cursor: pointer;
    }
}
